#all generated Makefile and Makefile.in, try to contain all subdirs
Makefile
Makefile.in

*.out.tmp
*.err.tmp
/package/*.tar.bz2
/Makefile.am
/Makefile.am.common
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.ac
/configure.ac~
/configure.in
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/yast2-devtools.pc
