#all generated Makefile and Makefile.in, try to contain all subdirs
Makefile
Makefile.in

*.out.tmp
*.err.tmp
/package/*.tar.bz2
/Makefile.am
/Makefile.am.common
/acinclude.m4
/aclocal.m4
/autodocs-cc-base.ami
/autodocs-cc-off.ami
/autodocs-cc.ami
/autodocs-ycp.ami
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.ac
/depcomp
/install-sh
/libtool
/libtool.m4
/ltmain.sh
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/missing
/yast2-devtools.pc
